<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en ru">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Semen, Semyon, Katz, Kats, photographer, photography, portrait, portraits, reportage, architecture, interior, landscape, documentary, photojournalism, freelance, editorial, commission, assignment, portfolio, Moscow, Russia, Семен, Семён, Кац, фотограф, фотография, портрет, портретная фотография, портреты, репортаж, репортажная фотография, документалистика, документальная фотография, фотоистория, фотоистории, портфолио, Москва, Россия" />
		<meta name="description" content="Semen Katz photography"/>
		<title>@name, @profession</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen">
		<link rel="icon" type="image/png" href="@root_path/public/images/favicon32.png">
	</head>
	<body>
		<div id="container">
			<h1 class="col four">
				<a href="./">@name</a> / @profession
			</h1>
			<hr>
			:navigation
			<div id="content" class="home col eight">
				:media
			</div>
			<hr>
			<p id="footer" class="col six">&copy; <span class="lang_en" lang="en">All rights reserved</span><span class="lang_ru" lang="ru">Все права защищены</span>, @current_year</p>
		</div>
		<script src="@root_path/public/docs/js/navigation.js" type="text/javascript" charset="utf-8"></script>
		<script src="@root_path/public/docs/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="@root_path/public/docs/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="@root_path/public/docs/js/languager.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>