<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@title, @name's Portfolio </title>
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
  </head>
  <body>
    <div id="container">
      <h1 class="col three">
        <a href="@root_path">@name</a>
        <strong>@profession</strong>
      </h1>
      <em class="col three">@email</em>
      <hr>
      :navigation
      <div id="content" class="col eight">
        <p class="date col one">&para;</p>
        <div class="description col six">
          <h2 class="col six"><a href="@root_path">@title</a></h2>
          :images
          @content
          :pdfs
        </div>
      </div>
      <hr>
      <p id="footer" class="col six">&copy; Copyright @name @current_year <a class="atom-rss" href="@root_path/?/feed/">RSS</a><br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
    </div>
    <script src="@root_path/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
  </body>
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en ru">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Semen, Semyon, Katz, Kats, photographer, photography, Moscow, Russia, Семен, Семён, Кац, фотограф, фотография, портфолио, Москва, Россия" />
		<meta name="description" content="Semen Katz photography"/>
		<title>@title, @name</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen">
		<link rel="icon" type="image/png" href="@root_path/public/images/favicon32.png"> 
	</head>
	<body>
		<div id="container">
			<h1 class="col four">
				<a href="@root_path">@name</a> / @profession
			</h1>
			<hr>
			:navigation
			<div id="content" class="col eight">
				<p class="date col one">&nbsp;</p>
				<div class="description col six">
					<h2><span class="lang_en" lang="en">@title</span><span class="lang_ru" lang="ru">@ru_title</span></h2>
					:media
					<span class="lang_en" lang="en">@content</span><span class="lang_ru" lang="ru">@ru_content</span>
					:pdfs
				</div>
			</div>
			<hr>
			<p id="footer" class="col six">&copy; <span class="lang_en" lang="en">All rights reserved</span><span class="lang_ru" lang="ru">Все права защищены</span>, @current_year<br>
				<em><span class="lang_en" lang="en">content managed by</span><span class="lang_ru" lang="ru">Сайт под управлением</span> <a href="http://www.staceyapp.com">Stacey</a></em></p>
		</div>
		<script src="@root_path/public/docs/js/navigation.js" type="text/javascript" charset="utf-8"></script>
		<script src="@root_path/public/docs/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="@root_path/public/docs/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="@root_path/public/docs/js/languager.js" type="text/javascript" charset="utf-8"></script>
		</body>
</html>